@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rancho&display=swap');

$light: #eef9ff;
$dark: #4f4163;
$primary: #6b5d9f;
$secondary: #3e0d5b;
$info: #23abb9;
$success: #04c066;
$warning: #efd103;
$danger: #ff1521;

body {
  font-family: "Montserrat", sans-serif;
}

.required {
  position: relative;
}

.required::after {
  content: "*";
  color: $danger;
  margin-left: 2px;
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.show-custom {
  min-height: 100dvh;
  width: 300px;
}

.hide-custom {
  display: none;
  min-height: 100dvh;
}

.welcome-dashboard {
  background-color: #cefee78d;
  color: #66bc6b !important;
}

.badge-status-member {
  cursor: pointer;
}

.page-not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@import "node_modules/bootstrap/scss/bootstrap";